<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


     <bean id="Profesor" class="com.example.demo.beans.Profesor">
    		<constructor-arg name="edad" value="2"/>
    		<constructor-arg name="nombre" value="Unai"/>
    </bean>


   <bean id="myDataSource" class="com.example.demo.connections.DBconection"
    destroy-method="close">
    	<constructor-arg name="driverClassName" value="com.mysql.jdbc.Driver"/>
    	<constructor-arg name="url" value="jdbc:mysql://localhost:3306/Java"/>
		<constructor-arg name="username" value="root"/>
		<constructor-arg name="password" value=""/>
    </bean>
        
     <bean id="ProfesorMas" class="com.example.demo.beans.ProfesorMas">
    		<property name="curso" value="5"/>
    		<property name="p"><!-- Nombre de variable NO TIPO -->
    			<ref bean="Profesor"/>
    		</property>
     </bean>
     <bean id="pojo" class="com.example.demo.beans.Pojo"/>
     

    
    
</beans>