<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


     <bean id="Profesor" class="com.example.demo.Profesor">
    		<constructor-arg name="nombre" value="Unai"/>
    		<constructor-arg name="edad" value="2"/>
    </bean>
    <!-- 
     <bean id="ProfesorMas" class="com.example.demo.ProfesorMas">
    		<property name="Profesor">
    			<ref bean="Profesor"/>
    		</property>
    		<constructor-arg name="curso" value="5"/>
    </bean>
     --> 
   <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource"
    destroy-method="close">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver"/>
    	<property name="url" value="jdbc:mysql://localhost:3306/mydb"/>
		<property name="username" value="root"/>
		<property name="password" value=""/>
    </bean>
    
</beans>