<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Buscar Juegos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
<link rel="stylesheet" th:href="@{CSS/Form.css}">
</head>

<body>
<header th:insert="fragmentos/header.html :: header"> </header>
<section layout:fragment="content" id="content">
<h2>Buscar Juego </h2>
<form action="/buscar" method="GET" th:object="${juego}">
		<label>Nombre: </label><input type="text" name="nombre">
		<td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
		<br>
		<br>
		<input type="Submit" id="enviar" value="Enviar">
	</form>
</section>
</body>
</html>