<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Consultar Datos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{CSS/GridCSS.css}"/> 
</head>
<body>
    <header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">
    <div class="container2">
        <div id="uno" class="caja">
            <a href="/insertJugador"><h2 class="opcion">Añadir Jugador</h2></a>
        </div>
        <div class="caja" id="dos">
            <a href="/insertEquipo"><h2 class="opcion">Añadir Equipo</h2></a>
        </div>
        <div class="caja" id="tre">
            <a href="/insertEntrenador"><h2 class="opcion">Añadir Entrenador</h2></a>
        </div>
    </div>
</body>
	</section>
</body>

</html>