<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Consultar Datos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" th:href="@{CSS/GridCSS.css}"/> 
</head>
<body>
    <header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">
    <div class="container">
        <div id="uno" class="caja">
            <a class="hiper" href="/mostrarAllJugadores"><h2 class="opcion">Mostrar Jugadores</h2></a>
        </div>
        <div class="caja" id="dos">
            <a class="hiper" href="/showAllEquipos"><h2 class="opcion">Mostrar Equipos</h2></a>
        </div>
        <div class="caja" id="tre">
            <a class="hiper" href="/mostrarAllEntrenadores"><h2 class="opcion">Mostrar Entrenadores</h2></a>
        </div>
        <div class="caja" id="cua">
            <a class="hiper" href="/mostrarJuegos"><h2 class="opcion">Mostrar Juegos</h2></a>
        </div>
    </div>
	</section>
</body>

</html>