<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Insertar Creador</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
<link rel="stylesheet" th:href="@{CSS/Form.css}">
</head>

<body>
<header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">
<h2>Insertar Jugador</h2>


<form action="/guardaJugador" method="POST" th:object="${jugador}">
		<label>Nombre</label><input type="text" name="nombre" id="nombre">
		<label>DNI</label><input type="text" name="DNI" id="DNI">
		<label>Equipo</label><select name="idEquipo" id="idEquipo">
			<option th:text="Ninguno"></option>
			<div th:each="equipo : ${equipos}">
				<option th:value="${equipo.id}" th:text="${equipo.nombre}"></option>
			</div>
			</select>
		<label>CP</label><input type="text" name="CP" id="CP">
		<label>Calle</label><input type="text" name="calle">
		<label>Ciudad</label><input type="text" name="ciudad">
		<label>Pais</label><input type="text" name="pais">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="Submit" id="enviar" class="botoia" value="Enviar">
	</form>
	</section>
</body>
</html>