<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Editar Equipo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
<link rel="stylesheet" th:href="@{CSS/Form.css}">
</head>

<body>
	
<header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content"> 
	
	<h2>Editar Equipo: <h2 th:text="${equipo.nombre}"></h2></h2>
		
	<form action="/editEquipo" method="POST" th:object="${equipo}">
		<input type="hidden" th:value="${equipo.id}" name="id">
		<label>Nombre</label><input type="text" th:value=${equipo.nombre} name="nombre">
		<label>Partidas Ganadas</label><input type="text" th:value=${equipo.partidasGanadas} name="partidasGanadas">
		<br>
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input id="enviar" type="Submit" value="Enviar">
	</form>
	</section>
</body>
</html>