<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Editar</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />

</head>
<body>
	
	<h2>Editar juego: <h2 th:text="${juego.nombre}"></h2></h2>
		
	<form th:action="@{/modificarJuego}" th:method="PUT" th:object="${juego}">
	<input type="hidden" th:value="${juego.id}" name="id">
		Nombre<input type="text" name="nombre"> 
		<td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
		<br>
		Partidas Jugadas<input type="number" name="partidasJugadas"> 
		<td th:if="${#fields.hasErrors('partidasJugadas')}" th:errors="*{partidasJugadas}"/>
		<br>
		Puntuación Maxima<input type="number" name="puntuacionMax"> 
		<td th:if="${#fields.hasErrors('puntuacionMax')}" th:errors="*{puntuacionMax}"/>
		<br>  
		<input type="submit" value="Enviar">
	</form>
	
	<form th:action="@{/modificarJuegoJDBC}" th:method="PUT" th:object="${juego}">
	<input type="hidden" th:value="${juego.id}" name="id">
		Nombre<input type="text" name="nombre"> 
		<td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
		<br>
		Partidas Jugadas<input type="number" name="partidasJugadas"> 
		<td th:if="${#fields.hasErrors('partidasJugadas')}" th:errors="*{partidasJugadas}"/>
		<br>
		Puntuación Maxima<input type="number" name="puntuacionMax"> 
		<td th:if="${#fields.hasErrors('puntuacionMax')}" th:errors="*{puntuacionMax}"/>
		<br>  
		<input type="submit" value="Enviar">
	</form>
</body>
</html>