<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
	<form action="/guardaJuego" method="POST">
		Nombre<input type="text" name="nombre">
		<br>
		Genero<input type="text" name="genero">
		<br>
		Precio <input type="number" name="precio">
		<br>
		Creador ID<input type="number" name="creador_Id">
		<br>
		<input type="Submit" value="Enviar">
	</form>
</body>
</html>