<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<p>Welcome to Juego gestor</p>

	<a th:href="@{/insertJuego}">Insertar Juego</a>
	<br>
	<a th:href="@{/mostrarJuegos}">Mostrar lista de Juegos</a>
	<br>
	<a th:href="@{/buscarJuego}">Buscar Juego</a>
	
</body>

</html>