<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{CSS/Style.css}">
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="imagen1">
            <div class="divContainer">
                <a href="/agregarDatos"><h2>Agregar Datos</h2></a>
            </div>
        </div>
        <div class="imagen2">
            <div class="divContainer">
                <a href="/jugarPartida"><h2>Jugar Partida</h2></a>
            </div>
        </div>
        <div class="imagen3">
            <div class="divContainer">
                <a href="/consultarDatos"><h2>Consultar Datos</h2></a>
            </div>
        </div>
    </div>
</body>
</html>