<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Insertar Equipo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
	<link rel="stylesheet" th:href="@{styles.css}">
<link rel="stylesheet" th:href="@{Form.css}">
</head>

<body>
	<section layout:fragment="content">

<form action="/saveEquipo" method="POST" th:object="${equipo}">
		Nombre<input type="text" name="nombre">
		Partidas Ganadas<input type="text" name="partidasGanadas">
		<br>
		<input id="enviar" type="Submit" value="Enviar">
	</form>
	</section>
</body>
</html>