<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Insertar Entrenador</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
	<link rel="stylesheet" th:href="@{styles.css}">
<link rel="stylesheet" th:href="@{Form.css}">
</head>

<body>
	<section layout:fragment="content">

<form action="/guardarEntrenador" method="POST" th:object="${Entrenador}">
		Nombre<input type="text" name="nombre">
		DNI<input type="text" name="DNI" id="DNI">
		CP<input type="text" name="CP" id="CP">
		Calle<input type="text" name="calle">
		Ciudad<input type="text" name="ciudad">
		Pais<input type="text" name="pais">
		Equipo<select name="idEquipo" id="idEquipo">
			<option th:value="0" th:text="Ninguno"></option>
			<div th:each="equipo : ${equipos}">
				<option th:value="${equipo.id}" th:text="${equipo.nombre}"></option>
			</div>
			</select>
		Partidas ganadas<input type="text" name="partidasGanadas">
		<input id="enviar" type="Submit" value="Enviar">
	</form>
	</section>
</body>
</html>