<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Form</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>
	<form action="/guardaJuego" method="POST" th:object="${juego}">
		Nombre<input type="text" name="nombre"> 
		<td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
		<br>
		Partidas Jugadas<input type="number" name="partidasJugadas"> 
		<td th:if="${#fields.hasErrors('partidasJugadas')}" th:errors="*{partidasJugadas}"/>
		<br>
		Puntuación Maxima<input type="number" name="puntuacionMax"> 
		<td th:if="${#fields.hasErrors('puntuacionMax')}" th:errors="*{puntuacionMax}"/>
		<br>  
		<input type="submit" value="Enviar">
	</form>
	
	<h5>JDBC</h5>
	
	<form action="/guardaJuegoJDBC" method="POST" th:object="${juego}">
		Nombre<input type="text" name="nombre"> 
		<td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
		<br>
		Partidas Jugadas<input type="number" name="partidasJugadas"> 
		<td th:if="${#fields.hasErrors('partidasJugadas')}" th:errors="*{partidasJugadas}"/>
		<br>
		Puntuación Maxima<input type="number" name="puntuacionMax"> 
		<td th:if="${#fields.hasErrors('puntuacionMax')}" th:errors="*{puntuacionMax}"/>
		<br>  
		<input type="submit" value="Enviar">
	</form>
	
</body>
</html>