<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Insertar Juego</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
<link rel="stylesheet" th:href="@{CSS/Form.css}">
</head>

<body>
	
<header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">
	<h2>Insertar juego</h2>
	<div class="container">
	<form action="/guardaJuego" method="POST" th:object="${juego} ">
		<label>Nombre</label><input type="text" name="nombre"> 
		<td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"/>
		<br>
		<label>Partidas Jugadas</label><input type="number" name="partidasJugadas"> 
		<td th:if="${#fields.hasErrors('partidasJugadas')}" th:errors="*{partidasJugadas}"/>
		<br>
		<label>Puntuación Maxima</label><input type="number" name="puntuacionMax"> 
		<td th:if="${#fields.hasErrors('puntuacionMax')}" th:errors="*{puntuacionMax}"/>
		<br>  
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input id="enviar" type="submit" class="botoia" value="Enviar">
	</form>
</div>
	</section>
</body>
</html>