<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Juegos Buscados</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
	<link rel="stylesheet" th:href="@{styles.css}">
<link rel="stylesheet" th:href="@{Form.css}">
</head>

<body>
	<section layout:fragment="content">
	<div th:each="juego : ${juegos}">
		<p th:text="${juego.nombre}">jaja</p>
		<form action="/eliminaJuego" method="POST">
			<input type="hidden" th:value="${juego.id}" name="idJuego">
			<input type="submit" value="Borrar">
		</form>
		<form action="/editaJuego" method="GET">
			<input type="hidden" th:value="${juego.id}" name="idJuego">
			<input type="submit" value="Editar">
		</form>
	</div>
	</section>
</body>
</html>