<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Seleccionar Partida</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
	<link rel="stylesheet" th:href="@{CSS/form.css}">
	<script type="text/javascript" src="JS/modoOscuro.js"></script>
</head>
<body>   
 <header th:insert="fragments/header.html :: header"> </header>
	<section layout:fragment="content" id="content">
<h2>Jugar partida</h2>

	<form action="/simularPartida" method="POST" th:object="${partida}">
		<label>Jugador</label><select name="jugador_id">
			<div th:each="j : ${jugadores}">
				<option th:text="${j.nombre}" name="jugador_id" th:value="${j.id}">
			</div>
		</select>
		
		<label>Juego</label><select name="juego_id">
			<div th:each="j : ${juegos}">
				<option th:text="${j.nombre}" name="juego_id" th:value="${j.id}">
			</div>
		</select>	
		<input type="submit" id="enviar" class="botoia" value="Jugar">	
	</form>
	</section>
</body>
</html>