<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Mostrar Juegos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
	<link rel="stylesheet" th:href="@{styles.css}">
<link rel="stylesheet" th:href="@{Form.css}">
</head>

<body>
	<section layout:fragment="content">

	<h2>Listado de Juegos</h2>
	<div class="container">
		<div th:each="juego : ${listaJuegos}">
			<div class="juegoMostrar">
				<h4 th:text="${juego.nombre}"></h4>
				<p>Partidas Jugadas: <span th:text="${juego.partidasJugadas}"></span></p>
				<p>Puntuación máxima: <span th:text="${juego.puntuacionMax}"></span></p>
				<div class="formContainer">
					<form action="/editaJuego" method="GET">
						<input type="hidden" th:value="${juego.id}" name="idJuego">
						<input type="submit" value="Editar">
					</form>
					<form action="/eliminaJuego" method="POST">
						<input type="hidden" th:value="${juego.id}" name="idJuego">
						<input type="submit" value="Borrar">
					</form>
				</div>
			</div>
		</div>
	</div>
	</section>
</body>

</html>