<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Mostrar Equipos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{CSS/mostrarDatos.css}">
</head>

<body>
	
<header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">
	<h2>Lista de Equipos</h2>
	<div class="container">
	<div th:each="equipo : ${listaEquipos}">
			<div class="caja">
				<h3 th:text="${equipo.nombre}"></h3>	
				<h4>Partidas Jugadas: <span th:text="${equipo.partidasGanadas}"></span></h4>
					
				<div sec:authorize="hasRole('ROLE_ADMIN')" class="opciones"> 
					<form action="/editaFormEquipo" method="GET">
						<input type="hidden" th:value="${equipo.id}" name="idEquipo">
						<input type="submit" class="botoia" value="Editar">
					</form>
					<form action="/eliminarEquipo" method="POST">
						<input type="hidden" th:value="${equipo.id}" name="idEquipo">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<input type="submit" class="botoia" value="Borrar">
					</form>
				</div>
			</div>
		</div>
		</div>
		</div>
		</section>
</body>

</html>
					