<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Mostrar Juegos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{CSS/MostrarDatos.css}">
<script type="text/javascript" src="JS/API.js"></script>
</head>

<body>
	
<header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">

	<h2>Listado de Juegos</h2>
	<label>Buscar Juego:<input type="text" id="buscador"></input></label> 
	<input type="hidden" th:value="${listaJuegos}" id="datos">
	<div class="container" id="container">
			<!-- <div class="caja">
				<h3 th:text="${juego.nombre}"></h3>
				<h4>Partidas Jugadas: <span th:text="${juego.partidasJugadas}"></span></h4>
				<h4>Puntuación máxima: <span th:text="${juego.puntuacionMax}"></span></h4>
				<div class="opciones">
					<form action="/editaJuego" method="GET">
						<input type="hidden" th:value="${juego.id}" name="idJuego">
						<input type="submit" value="Editar">
					</form>
					<form action="/eliminaJuego" method="POST">
						<input type="hidden" th:value="${juego.id}" name="idJuego">
						<input type="submit" value="Borrar">
					</form>
				</div>
			</div>
		</div>-->
	</div>
	</section>
</body>

</html>