<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Editar Equipo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" th:href="@{CSS/MostrarDatosPokemon.css}">
<script type="text/javascript" src="JS/pokeAPI.js"></script>
	
</head>
	
<body>
<header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">
	
	<div id="mostrar">
		
	</div>
	<input type="button" id="atras" name="atras" onclick="atras()" value="<--">
	<input type="button" id="adelante" name="adelante" onclick="adelante()" value="-->">
	</section>
</body>
</html>