<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Mostrar Jugadores</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
<link rel="stylesheet" th:href="@{CSS/MostrarDatos.css}">
</head>

<body>
	
<header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">

	<h2>Lista de jugadores</h2>
	<div class="container">
		<div th:each="creador : ${listaJugadores}">
			<div class="caja">
			<h2 th:text="${creador.nombre}"></h2>
				<h4>Pais: <span th:text="${creador.direccion.pais}"></span></h4>
				<h4>Ciudad: <span th:text="${creador.direccion.ciudad}"></span></h4>
				<div class="opciones">
					<form action="/editarJugador" method="GET">
						<input type="hidden" th:value="${creador.id}" name="idCreador">
						<input type="submit" class="botoia" value="editar">
					</form>
					<form action="/eliminarJugador" method="POST">
						<input type="hidden" th:value="${creador.id}" name="idCreador">
						<input type="submit" class="botoia" value="Eliminar">
					</form>
				</div>
			</div>
			
		</div>
	</div>
</section>
</body>

</html>