<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Index</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all"
	href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<p>Aqui el listado de juegos</p>
	<div th:each="juego : ${listaJuegos}">
		<p th:text="${juego.nombre}">jaja</p>
		<form action="/eliminaJuego" method="POST">
			<input type="hidden" th:value="${juego.id}" name="idJuego">
			<input type="submit" value="Borrar">
		</form>
		<form action="/eliminaJuegoJDBC" method="POST">
			<input type="hidden" th:value="${juego.id}" name="idJuego">
			<input type="submit" value="eliminaJuegoJDBC">
		</form>
		<form action="/editaJuego" method="GET">
			<input type="hidden" th:value="${juego.id}" name="idJuego">
			<input type="submit" value="Editar">
		</form>
		
		<form action="/editaJuegoJDBC" method="GET">
			<input type="hidden" th:value="${juego.id}" name="idJuego">
			<input type="submit" value="Editar con JDBC">
		</form>
	</div>

</body>

</html>