<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layouts/layout}">

<head>
<title>Mostrar Entrenadores</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
<link rel="stylesheet" th:href="@{CSS/mostrarDatos.css}">
</head>

<body>
	
<header th:insert="fragmentos/header.html :: header"> </header>
	<section layout:fragment="content" id="content">

	<h2>List de Entrenadores</h2>
	<div class="container">
		<div th:each="ent : ${listaEntrenador}">
			<div class="caja">
				<h2 th:text="${ent.nombre}"></h2>
				<h4>Partidas Ganadas: <span th:text="${ent.partidasGanadas}"></span></h4>
				<div class="opciones">
					<form action="/editaent" method="GET">
						<input type="hidden" th:value="${ent.id}" name="ident">
						<input type="submit" value="Editar">
					</form>
					<form action="/eliminaent" method="POST">
						<input type="hidden" th:value="${ent.id}" name="ident">
						<input type="submit" value="Borrar">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
</body>

</html>