:root {
    box-sizing: border-box; 
}

*,
::before,
::after {
    box-sizing: inherit; 
}
*{
    margin:0;
    padding:0;
}
div{
    border: 1px black solid;
}
body{
    width: 100vw;
    height: 100vh;
}

.container{
    width: 100%;
    background-color: #e5dfe2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#uno{
    grid-row:1/10;
    grid-column: 1/2;
}

#dos{
    grid-row:1/10;
    grid-column: 2/3;
}
#cua{
    grid-row:1/10;
    grid-column: 4/5;
}

#tre{
    grid-row:1/10;
    grid-column: 3/4;
}

.caja{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    height:94.50vh;
}
.hiper{
    padding-top: 40vh;
}

h2{
	margin:0;
	padding:0;
}
.claro {
    background-color: #e5dfe2;
    border-color: #000000;
}
  
.oscuro {
    background-color: #00151e;
    border-color: #e5dfe2;
}
  
.claro p {
    color: #000000;
}

.oscuro p {
    color: #e5dfe2;
}
.claro form {
    border-color: #000000;
}
  
.oscuro form {
    border-color: #e5dfe2;
}